<link rel="import" href="../bower_components/polymer/polymer.html"/>
<link rel="import" href="components.html"/>

<polymer-element name="complete-app">
  <template>
    <core-drawer-panel>
      <core-header-panel drawer>
        <core-toolbar></core-toolbar>
        <core-menu selected="{{page}} valueattr="data-category">
          <core-item data-category="page 1" label="Page 1"></core-item>
          <core-item data-category="page 2" label="Page 2"></core-item>
          <core-item data-category="page 3" label="Page 3"></core-item>
        </core-menu>
      </core-header-panel>
      <core-header-panel main>
        <core-toolbar>
          <core-icon-button icon="menu" core-drawer-toggle></core-icon-button>
          <h1>My great app</h1>
        </core-toolbar>
        <core-pages selected="{{page}}" valueattr="data-category">
          <section data-category="page 1">
            <h1>Page 1</h1>
            <div>Content for page 1</div>
          </section>
          <section data-category="page 2">
            <h1>Page 2</h1>
            <div>Content for page 2</div>
          </section>
          <section data-category="page 3">
            <h1>Page 3</h1>
            <div>Content for page 3</div>
          </section>
        </core-pages>
      </core-header-panel>
    </core-drawer-panel>
    <core-localstorage name="selectedPage" value="{{page}}"></core-localstorage>
    <style>
      [drawer] {
        background-color: #FFF;
      }
    </style>
  </template>
  <script>
    Polymer({
      page: "page 1",
    });
  </script>
</polymer-element>