<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Auto binding</title>
<script src="bower_components/webcomponentsjs/webcomponents.js"></script>
<link rel="import" href="bower_components/polymer/polymer.html"/>
</head>
<body>
<template is="auto-binding">
  <input type="text" placeholder="Degrees F" value="{{F}}" style="width:75px"> = {{(F-32)*5/9}} C
</template>
</body>
</html>