<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="bower_components/webcomponentsjs/webcomponents.js"></script>
<link rel="import" href="bower_components/polymer/polymer.html"/>
<title>Simple template, convert mph to km/h</title>
</head>
<body>
<polymer-element name="mph-kmh" noscript>
<template>
<input type="text" placeholder="Speed in mph" value="{{mph}}"> mph = {{1.61*mph}} km/h.
</template> 
</polymer-element>

<mph-kmh></mph-kmh>
</body>
</html>