<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="bower_components/webcomponentsjs/webcomponents.js"></script>
<link rel="import" href="bower_components/polymer/polymer.html"/>
<link rel="import" href="bower_components/core-ajax/core-ajax.html"/>
<link rel="import" href="bower_components/core-image/core-image.html"/>
<link rel="import" href="bower_components/google-youtube/google-youtube.html"/>

<title>Searching Youtube using core-ajax</title>
</head>
<body>
<polymer-element name="youtube-search" attributes="videoid">
<template>
	<core-ajax
	    		auto
	    		url="http://gdata.youtube.com/feeds/api/videos/"
	    		params='{"alt":"json", "q":"{{search}}"}'
	   			handleAs="json"
				response="{{response}}"></core-ajax>
	<input type="text" placeholder="Search string" value="{{search}}">.
	<input type="text" placeholder="videoid" value="{{videoid}}"/>
	<google-youtube
	  videoid="{{videoid}}"
	  height="270px"
	  width="480px"
	  rel="0"
	  start="5"
	  autoplay="1">
	</google-youtube>
	<template repeat="{{row in response.feed.entry}}">
		<div class="youtubevideo">
			<core-image src="{{row.media$group.media$thumbnail[0].url}}" sizing="contain"></core-image>
			<h1>{{row.title.$t}}</h1>
			{{row.content.$t}}<br/>
			url: {{row.id.$t}}<br/>
			
		</div>
		<br clear="both"/>
	</template>
	<style>
		.youtubevideo {
			background-color: #eee;
			border-top: 1px solid gray;
		}
		
		core-image {
			width: 200px;
			height: 200px;
			display: inline-block;
			float: left;
			margin-right: 15px;
		}
		
		h1 {
			font-size: 1.2em;
			margin-top: 30px;
		}
	</style>
</template> 
<script>
Polymer({
	responseChanged: function () {
		console.log (this.response);
	}
});
</script>
</polymer-element>
<h1>Searching Youtube with core-ajax</h1>
<youtube-search videoid="N4OqeGjOLhw"></youtube-search>
</body>
</html>