<!DOCTYPE html>
<html>
<head>
<script src="bower_components/webcomponentsjs/webcomponents.js"></script>
<script src="markerclusterer.js"></script>
<link rel="import" href="bower_components/polymer/polymer.html">
<script src="getData.php"></script>
<link rel="import" href="bower_components/google-map/google-map.html">
  <script>
    function getMarkers() {
       var markers = [];

       var imageUrl = 'http://chart.apis.google.com/chart?cht=mm&chs=24x32&' +
         'chco=FFFFFF,008CFF,000000&ext=.png';
       var markerImage = new google.maps.MarkerImage(imageUrl,
         new google.maps.Size(24, 32));

       for (var i = 0; i < data.length; ++i) {
         var latLng = new google.maps.LatLng(data[i][5],
             data[i][6]);
         var marker = new google.maps.Marker({
          position: latLng,
          icon: markerImage
         });
         markers.push(marker);
       }
       return markers;
    };

  </script>
</head>
<body unresolved>

<polymer-element name="google-map-markerclusterer-container"  on-google-map-ready="{{googleMapLoaded}}">
    <template >
      <style>
       #map-container {
         padding: 6px;
         border-width: 1px;
         border-style: solid;
         border-color: #ccc #ccc #999 #ccc;
         width: 800px;
         height:800px;
       }
       
       google-map {
          display: block;
          height: 100%;
       }
      </style>
      <div id="map-container">
        <google-map latitude="64.91" map="{{map}}" id="mapelement" longitude="16.38" zoom="5"></google-map>
      </div>
    </template>
    <script>
       Polymer({
         markers : null,
         markerCluster: null,
         created : function() {
         },
         ready : function() {
           this.markers = this.markers || null;
         },
         googleMapLoaded : function() {
           this.markers = getMarkers();
           var mcOptions = {gridSize: 30, maxZoom: 15};
           this.markerCluster = new MarkerClusterer(this.map, this.markers, mcOptions);
         }
       });
    </script>
  </polymer-element>

  <h3>An example of `google-map-clustermarker':</h3>
  <google-map-markerclusterer-container></google-map-markerclusterer-container>
</body>
</html>