﻿#folders {
	height: 400px;
	width: 300px;
	border: 1px solid gray;
	overflow: auto;
	padding-top: 5px;
}

#folders > .folders {
	margin-left: 0px;
}

.folders {
	list-style-type: none;
	margin : 0px 0px 0px 16px;
	padding : 0px;
}

.folders .foldericon {
	display: inline-block;
	height: 16px;
	width: 13px;
	background-image: url("folder.png");
}

.folders .openClose {
	display: inline-block;
	heigth: 16px;
	width: 13px;
}

.folders .openClosed {
	display: inline-block;
	heigth: 16px;
	width: 13px;
}

.folders .opened > .openClosed {
	background-image: url("opened_folder.png");
}

.folders .closed > .openClosed {
	background-image: url("has_subfolders.png");
}

.folders a {
	padding-left: 5px;
	color: black;
	display: inline-block;
	width: 150px;
	text-decoration: none;
}

.folders .selected > a {
	background: #DDD;
}

.folders a:hover {
	background: #DDD;
}