﻿/* This is the CSS for the newsticker thing
   Have the design gurus go through this, also, any additional styling of the 
	 newsticker can be done elsewhere.
	 Note that the newsticker div tag MUST have the class news.
	 */
.news {
	width:350px; 
	height: 300px; 
	overflow: hidden; 
	border: 1px solid blue;
	position: relative;	
	padding: 5px;
	/* Fancy css below, go wild */
	border-radius: 10px;
	-webkit-box-shadow:  8px 8px 30px 3px blue;
	-moz-box-shadow:  8px 8px 30px 3px blue;
	box-shadow:  8px 8px 30px 3px blue;
}

.news div {
	width: 345px; 
	height: 295px; 
	background: #FFF; 
	position: absolute;
}

.news h2 {
	margin-top: 0px;
	font-size: 1.2em;
}

.news a {
	display: block;
	width: 100%;
	text-decoration: none;
	color: black;
	border: 0px;
}
