<link rel="import" href="../bower_components/polymer/polymer.html"/>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

<dom-module id="folder-viewer" attributes="fetchFolder, rootId, selected">
	<style type="text/css">
		.nav-tree {
			margin-left: 15px;
		}
	</style>
	<template>
		<ul></ul>
	</template>
</dom-module>

<script>
Polymer({
  	is: "folder-viewer",
  	properties: {
  		fetchfolder: {
  			type: String,
  			notify: true,
  			value: ''
  		},
  		rootid: Number,
  		selected: {
  			type: Number,
  			notify: true
  		}
  	},
  	ready: function() {
  		this.innerHTML = '<ul class="nav nav-pills nav-stacked nav-tree" id="root'+this.rootid+'"></ul>';
  		var self = this;
  		$.getJSON(this.fetchfolder, {"parentid": this.rootid}, function (data) {
  			for (i=0; i<data.length; i++) {
  				var link = '<a data-id="'+data[i].id+'" data-loaded="false" title="'+data[i].description+'">'+data[i].name+'</a>';
  				$('#root'+data[i].parentid).append ('<li id="folder'+data[i].id+'">'+link+'</li>');
  			}
  	  		$('#root'+data[0].parentid+' a').click(self.folderClicked);
  		});
  	},
  	attached: function() {
  	},
  	folderClicked: function(e) {
		var folderViewer = $(this).parent();
  		while (folderViewer[0].localName!="folder-viewer")
  			folderViewer = folderViewer.parent();
  		folderViewer.find('li').removeClass("active");
  		folderViewer = folderViewer[0];
  		folderViewer.selected = this.dataset.id;
		$(this).parent().addClass("active");
  		if (this.dataset.loaded=="true") {
  			$(this).parent().children('ul').toggle();
  		} else {
  			this.dataset.loaded="true";
  			$(this).after('<ul class="nav nav-pills nav-stacked nav-tree">');
  			var list = $(this).parent().children('ul');
  			$.getJSON(folderViewer.fetchfolder, {"parentid": this.dataset.id}, function(data) {
  				for (i=0; i<data.length; i++) {
  	  				var link = '<a data-id="'+data[i].id+'" data-loaded="false" title="'+data[i].description+'">'+data[i].name+'</a>';
  	  				list.append ('<li id="folder'+data[i].id+'">'+link+'</li>');  					
  				}
  				list.find('a').click(folderViewer.folderClicked);
  			});
  		}
  	}
});
</script>