@CHARSET "UTF-8";

#categories.nav > li > a, #categories .nav > li > a {
	padding: 2px 0px;
}

#categories ul.nav-tree ul.nav-tree, #categories ul.nav-tree {
    margin-left: 30px;
}

#categories.nav-tree a {
	text-indent: 10px;
}