﻿#operations {
	border-top: 1px solid #000;
	border-bottom: 1px solid #333;
	background-color: #CCC;
}

#operations ul {
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: Arial, Helvetica, sans-serif;
}

#operations a {
	display: block;
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	border-right: 1px solid #333;
	font-size: .85em;
	color: #000;
}

#operations li {
	float: left;
	width: 9em;
}

#operations li ul, #operations ul li  {
	width: 12em;
}

#operations ul li a  {
	color: #000;
	border-right: 0;
	padding: 3px 12px 3px 16px;
}

#operations li ul {
	position: absolute;
	display: none;
	background-color: #FFFFFF;
	border-right: 1px solid #333333;
	border-left: 1px solid #333333;
	border-bottom: 1px solid #333333;
}

#operations li:hover a, #operations a:focus,
#operations a:active {
	color: #000000;
	background-color: #C19674;
}

#operations li:hover ul {
	display: block;
}

#operations li:hover ul a {
	color: #000000;
	background-color: transparent;
}

#operations ul a:hover {
	background-color: #606060!important;
	color: #FFFFFF!important;
}

#operations li {width: auto;}
