<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/firebase-element/firebase-collection.html">

<dom-module id="firebase-chat">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <style include="iron-flex iron-flex-factors"></style>
    <firebase-collection id="firebase" location="{{location}}" data="{{messages}}"></firebase-collection>
    <paper-material elevation="2">
      <div id="chatItems" style="height: 300px; overflow-y: auto; padding: 5px">
        <template is="dom-repeat" items="{{messages}}">
          <div>{{item.name}} says <span>{{item.text}}</span></div>
        </template>
      </div>
    </paper-material>
    <div class="layout horizontal">
      <div class="flex-1">
        <paper-input label="Brukernavn" value="{{name::input}}"></paper-input>       
      </div>
      <div class="flex-3">
        <paper-input id="message" label="Melding" value="{{text::input}}"></paper-input>
      </div>
    </div>
    <paper-button on-tap="sendMessage" raised>Send melding</paper-button>
  </template>
  <script>
  (function() {
    'use strict';
    var timer = null;

    Polymer({
      is: 'firebase-chat',

      properties: {
        name: String,
        text: {
          type: String
        },
        location: String,
        messages: {
          type: Array,
          notify: true
        }
      },
      observers: [
        'messagesUpdated(messages.splices)'
      ],
      messagesUpdated: function() {
        if (timer!==null)
          clearTimeout(timer);
        var self = this;
        timer = setTimeout (function () {
          var tmp = self.$.chatItems.querySelectorAll("div");
          if (tmp.length>0) 
            self.$.chatItems.scrollTop = tmp[tmp.length-1].getBoundingClientRect().top;
        }, 50);
      },
      sendMessage: function() {
        var msg = {
          name: this.name,
          text: this.text
        }
        this.$.firebase.add(msg);
        this.$.message.value='';
        this.$.message.focus();
        console.log (msg);
      }
    });
  })();
  </script>
</dom-module>
