body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

header {
  color: #007e99;
  font-size: 1.5em;
  padding: 20px 50px;
}

header span {
  color: #722;
}

nav {
  font-size: 1.5em;
  margin: 5px 0;
  padding: 0px 50px;
  margin-top: -60px;
}

nav li {
  display: inline-block;
  margin: 10px 15px;
  border-radius: 13px;
}

nav li:first-child {
  margin-left: 0;
}

* html nav ul {
  margin-left: -15px;
}

nav span, nav a {
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;
}

nav li {
  background: #DDD;
}

section {
  padding: 0px 40px;
}

article>header {
  padding: 0px 0px;
}

article>p {
  padding: 5px 20px;
}

input:invalid {
  background-color:red;
}